
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


#titleBar {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: grey;
}

.card-title {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: grey;
}

.card-body {
  background-color: black;
  
}
.textforcard {
  font-size: x-large;
  font-family: 'Roboto Condensed', sans-serif;
}


.picTxt {
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  float: left;
}

.txtOverlay {
  font-size: large;
  font-weight: 600;
  color: black;
  position: absolute;
  left: 170px;
  top: 100px;
}


#jt {
  width: 800px;
  height: 800px;
  margin-top: 18px;
  margin-left: 150px;
  position: relative;

  
}

body {
  background-image: url('https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background: #fff;
}

.title {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

